:host {
  display: block;
  height: 100vh;
}

button {
  &:focus {
    outline: none;
  }
}

input {
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.ring-2 {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
  background-color: rgba(59, 130, 246, 0.1);
  border: 1px solid rgba(59, 130, 246, 0.5);
}